module.exports = {
    token: "your_bot_token_here",
    clientId: "your_client_id_here",
    prefix: "!",
    tracker: {
        updateInterval: 10000,  // How often to update (in milliseconds)
        incrementAmount: 10     // How many seconds to add each update
    }
};
